.App {
  text-align: center;
  color: white;
}

.App-header {
  font-size: calc(12px + 2vmin);
}

.header-txt {
  color: #E1C362;
  margin-block: 0px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #282c34a9;
  padding-block: 0.75vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  font-size: calc(4px + 1vmin);
  width: 30%;
  margin-inline: 1vmin;
}

.search-container {
  display: flex;
  justify-content: center;
}

.searchbar {
  display: flex;
  gap: 5px;
  width: 30rem;
  margin-inline: 3%;
  margin-top: 3vmin;
}

.autocomplete-wrapper {
  flex: 1;
}

.title-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 1%;
}

.guess-title {
  margin-bottom: 1vmin;
  width: 18vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(8px + 1vmin);
  border: 1px solid #e1c36200;
}

.guesses-wrapper {
  width: 100%;
}

.title-text {
  margin: 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.guess-results {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 1%;
  margin-bottom: 2%;
}

.guess-box {
  min-height: 18vmin;
  width: 18vmin;
  border: 1px solid #E1C362;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  font-size: calc(6px + 1vmin);
}

.latest-guess-results .guess-box {
  animation: FadeIn 0.5s linear;
  animation-fill-mode: both;
}

.latest-guess-results .guess-box:nth-child(1) { animation-delay: .1s }
.latest-guess-results .guess-box:nth-child(2) { animation-delay: .2s }
.latest-guess-results .guess-box:nth-child(3) { animation-delay: .3s }
.latest-guess-results .guess-box:nth-child(4) { animation-delay: .4s }
.latest-guess-results .guess-box:nth-child(5) { animation-delay: .5s }

.guess-text {
  margin-block: 1vmin;
}

.guess-right {
  background-color: darkolivegreen;
}

.guess-partial {
  background-color: darkgoldenrod;
}

.guess-wrong {
  background-color: darkred;
}

.autocomplete-wrapper .MuiAutocomplete-inputRoot,
.autocomplete-wrapper .MuiInputLabel-root,
.autocomplete-wrapper .MuiInputLabel-root.Mui-focused {
  color: white;
  font-size: calc(8px + 1vmin);
}

.autocomplete-wrapper .MuiOutlinedInput-notchedOutline, .autocomplete-wrapper .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.autocomplete-wrapper .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #E1C362;
}

.autocomplete-wrapper .MuiInputBase-root {
  background-color: #282c34;
}

.autocomplete-wrapper .MuiSvgIcon-root {
  fill: white;
}

.autocomplete-wrapper .MuiOutlinedInput-root:hover .MuiSvgIcon-root,
.autocomplete-wrapper .MuiOutlinedInput-root.Mui-focused .MuiSvgIcon-root {
  fill: #E1C362;
}

.autocomplete-wrapper .autocomplete-search .MuiAutocomplete-inputRoot .MuiPopper-root .MuiAutocomplete-popper .MuiAutocomplete-popperDisablePortal {
  background-color: #282c34;
  color: white;
}

.autocomplete-wrapper .MuiAutocomplete-listbox {
  background-color: #282c34;
  color: white;
  border:1px solid #E1C362;
}

.MuiAutocomplete-listbox::-webkit-scrollbar {
  width: 0px;
}

.guess-btn {
  color: white;
  border-radius: 4px;
  background-color: #282c34;
  border: 1px solid #E1C362;
  transition: background-color 0.3s, color 0.3s;
}

.guess-btn:hover {
  background-color: #2c2f34;
  color: #E1C362;
}

.guess-btn:disabled,
.guess-btn:disabled:hover{
  background-color: grey;
  color: black;
  border-color: #1c1e22;
  cursor: not-allowed;
}

.modal-overlay {
  background: rgba(49,49,49,0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
}


.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #282c34;
  padding: 1rem 2rem;
  width: 60%;
  height: auto;
  z-index: 1000;
  border: 2px solid #E1C362;
  border-radius: 0.8rem;
}

.modal-title {
  margin-top: 0;
  text-decoration: underline;
  font-size: calc(16px + 2vmin);;
}

.modal-text {
  font-size: calc(12px + 1vmin);
}

.external-link:link, .external-link:visited {
  color: #E1C362;
  text-decoration: none;
}

.external-link:hover {
  text-decoration: underline;
}

.game-timer {
  color: #E1C362;
  font-size: calc(10px + 1vmin);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top: 3.5vmin;
}

.modal-timer {
  font-size: calc(10px + 1vmin);
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

.rules-btn {
  position: fixed;
  top: 2.5vmin;
  left: 2vmin;
  width: 8vmin;
  height: 8vmin;
  color: white;
  border-radius: 4vmin;
  background-color: #282c34;
  border: 2px solid #E1C362;
  font-size: 3vmin;
}

.rules-btn:hover {
  cursor: pointer;
  background-color: #2c2f34;
  color: #E1C362;
}

.incorrect-text {
  color: darkred;
}

.correct-text {
  color: darkolivegreen;
}

.partial-text {
  color: darkgoldenrod;
}

.example-img {
  width: 15vmin;
  height: 15vmin;
}

.rules-modal {
  top: 50%;
}

.rules-text {
  display: flex;
  flex-direction: column;
}

.rules-text {
  text-align: left;
}

.example-container {
  display: flex;
  align-items: center;
}

.example-img {
  margin-right: 10px; 
}

.contact-link {
  color: #E1C362;
  background: none;
  border: none;
  font-size: calc(4px + 1vmin)
}

.contact-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.kofi-btn {
  position: fixed;
  top: 2.5vmin;
  right: 2vmin;
  width: 8vmin;
  height: 8vmin;
}

.kofi-img {
  height: 100%;
  width: 100%;
}

.kofi-btn:hover {
  transform: scale(1.125);
}

.modal-delay {
  animation: Delay 2s linear(0 0%, 0 65%, 1 100%);
  animation-fill-mode: both;
}

@media only screen and (min-width: 1080px) {
  .guess-results {
    margin-bottom: 1%;
  }

  .rules-btn {
    width: 6vmin;
    height: 6vmin;
    border-radius: 3vmin;
  }

  .kofi-btn {
    width: 6vmin;
    height: 6vmin;
    border-radius: 3vmin;
  }

  .game-timer {
    margin-top: 1vmin;
  }

  .game-over-modal{
    width: 30%;
  }

  .game-won-modal {
    width: 30%
  }
}

@media only screen and (min-width: 1600px) {
  .rules-modal{
    width: 40%;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(.1)
  }
  85% {
    opacity: 1;
    transform: scale(1.03)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes Delay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}